    <div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" width="180" height="34">
            </div>
          </div>
        </div>

        <div class="main">
          <h1>Watch your favorite movies, instantly.</h1>
          <a class="btn btn-default" href="#">Learn More</a>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="search" placeholder="Browse the collection">
            </div>
            <button type="submit" class="btn btn-submit">Search</button>
          </form>          
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>A world of movies at your fingertips.</h2>
        <p>Choose from the latest titles, with new movies added every day.</p>
        <div class="row">
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- The Avengers -->
              <a href="https://www.netflix.com/in/title/70217913"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-avengers.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Harry Potter and the Deathly Hallows -->
              <a href="http://pz10028.parspack.net/F/Harry%20Potter/Harry%20Potter%20and%20the%20Deathly%20Hallows%20Part%201%202010/"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/harry-potter.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Frozen -->
              <a href="http://dl2.upfdl.com/files/Film/2017/Olafs%20Frozen%20Adventure%202017/"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/frozen.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Iron Man 3 -->
              <a href="https://www.netflixmovies.com/iron-man-3-2013"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/iron-man.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Transformers: Dark of the Moon -->
              <a href="https://www.netflixmovies.com/transformers-dark-of-the-moon-2011"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/transformers.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- The Lord of the Rings -->
              <a href="https://www.netflixmovies.com/the-lord-of-the-rings-1978"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-lord-of-the-rings.jpg"></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- Skyfall -->
              <a href="https://www.netflixmovies.com/skyfall-2012"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/skyfall.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- The Dark Knight Rises -->
              <a href="https://www.netflixmovies.com/the-dark-knight-rises-2012"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-dark-knight.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Pirates of the Caribbean -->
              <a href="https://www.netflixmovies.com/pirates-of-the-caribbean-at-worlds-end-2007"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/pirates-of-the-caribbean.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Toy Story 3 -->
              <a href="https://www.netflixmovies.com/toy-story-3-2010"><img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/toy-story-3.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h1>Available everywhere</h1>
        <p>Start watching on one device, and pick up where you left off on another device.</p>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Bolt</h3>
            <ul>
              <li>Careers</li>
              <li>Terms</li>
              <li>Help</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>More Bolt</h3>
            <ul>
              <li>Gift Cards</li>
              <li>Trailers</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>News</h3>
            <ul>
              <li><a href="https://medium.com/@SayanBan">Blog</a></li>
              <li><a href="https://github.com/SayanBan">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/sayan-b-2122a7185/">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
